<div class="top_image">
  <p>このアプリは、掲示板形式で地元の家電量販店等の商品を共有しあうアプリです。</p>
  <br>
  <p>以下の事が可能です。</p>
  <br>
  <p>通販では手に入りにくい商品を掲示板で共有することで、商品が入手しやすくなります</p>
  <br>
  <p>通販では高値で販売されている商品を共有し、より安く入手しやすくします</p>
</div>
  


