<div class="top_image">
  <h1 class = "heading">Price_Net</h1>
  
  <br>

  <div class="box10">
    <h2>欲しいものを探すとき、皆さんはどこで購入しますか？<br>
        通販？地元の店？<br>
        サイト巡りをしたり、店の場所を調べたり・・面倒ではないですか？<br>
        このアプリは、そんな悩みを解決する手助けができるかもしれません
    </h2>
  </div>

  <br>

  <u><h3>・どんなアプリですか？</h3></u>
    <h5>掲示板形式で地元の家電量販店や通販商品の価格を共有しあうアプリです。</h5>

  <br>
  
  <u><h3>・何ができますか？</h3></u>
      
  <br>
      <h5>➀通販では手に入りにくい商品を掲示板で共有することで、商品が入手しやすくなります</h5>
  <br>
      <h5>➁通販では高値で販売されている商品を共有し、より安く入手しやすくします</h5>
</div>
  


