<div class="top_image">
  <h1 class = "heading">Price_Net</h1>
  
  <br>

  <div class="box10">
    <h2>欲しいものを探すとき、皆さんはどこで購入しますか？<br>
        通販？地元の店？<br>
        サイト巡りをしたり、店の場所を調べたり・・面倒ではないですか？<br>
        このアプリは、そんな悩みを解決する手助けができるかもしれません
    </h2>
  </div>

  <br>
  
  <div class = "row">
  <div class = "col-lg-6">
  <u><h4>何ができますか？</h4></u>
      
  <br>
      <p>・通販では手に入りにくい商品を掲示板で共有することで、商品が入手しやすくなります</p>
  <br>
      <p>・通販では高値で販売されている商品を共有し、より安く入手しやすくします</p>
  </div>

  <div class = "col-lg-6">
  <u><h4>どのように使うのですか？</h4></u>
  <br>
    <p>➀値札付きの商品の写真・販売店の住所・他の通販サイトでの値段・URLを準備してください</p>
    <p>➁新規投稿欄に、➀で準備した物を入力してください。<br>自由にタグを付けたり、コメント投稿もできます</p>
    <p>➂写真一覧画面で欲しい商品を検索して下さい</p>
  </div>
  </div>
</div>
  


