<div class = 'nested-fields'>
  <div class = 'field'>
    <%= f.label :比較した通販サイトのURLを入力してください %>
    <%= f.text_field :price_url %>
  <%= link_to_remove_association "フォームを削除する", f %>
  </div>
</div>