<div class = "photo_edit_heading">
  <h1>写真編集</h1>
</div>

<%= render 'form', photo: @photo %>

<div class = "photo_edit_return">
  <%= button_to '戻る', photos_path,  method: :get, class: "btn btn-success" %>
</div>
