<div class = "photo_new_sentence">
  <h1>写真新規投稿</h1>
</div>

<%= render 'form', photo: @photo %>

<div class = "new_photo_return">
  <%= button_to '戻る', photos_path,  method: :get, class: "btn btn-success" %>
</div>